@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans:wght@700&family=Poppins:wght@600&family=Raleway:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans:wght@700&family=Poppins:wght@600&family=Raleway:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans:wght@700&family=Playfair+Display:wght@800&family=Poppins:wght@600&family=Raleway:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Josefin+Sans&family=Open+Sans:wght@700&family=Playfair+Display:wght@800&family=Poppins:wght@600&family=Raleway:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Josefin+Sans&family=Open+Sans:wght@700&family=Playfair+Display:wght@800&family=Poppins:wght@600&family=Raleway:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Josefin+Sans&family=Open+Sans:wght@700&family=Playfair+Display:wght@400;800&family=Poppins:wght@600&family=Raleway:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Josefin+Sans&family=Open+Sans:wght@700&family=Playfair+Display&family=Poppins:wght@600&family=Raleway:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Josefin+Sans&family=Open+Sans:wght@700&family=Playfair+Display&family=Poppins:wght@600&family=Raleway:wght@300&family=Roboto:wght@100&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Raleway', sans-serif; */
}
/* menu bar css coding */
.logo img
{
    height:50px;
    width: 150px;
    margin-right:50px;
    cursor: pointer;
}
nav
{
    width: 100%;
    height: 16vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
nav .menu
{
 display: flex;
 width: 60%;
 height: 20%;
 justify-content:space-between;   
}
nav .menu a
{
    color:#333;
    font-size:16px;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    font-weight:600;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-con{
    display: none; 
    position:absolute;
    padding: auto;
    min-width: 220px;
    height: 200px;
    background-color: white;
    }
  .dropdown-con a {
    color: #333;
    margin-left: 40px;
    text-decoration: none;
    display:block;
  }  
  .dropdown-cont
  {
    display: none;
    position: absolute;
    padding: auto;
    min-width: 250px;
    height: 150px;
    background-color: white;
}

  .dropdown-cont a {
    color: #333;
    margin-left: 40px;
    text-decoration: none;
    display: block;
  }   
.dropdown-con a:hover {background-color: white;}
.dropdown-cont a:hover{background-color: white;}
.dropdown:hover .dropdown-con {display: block; z-index: 55; }
.dropdown:hover .dropdown-cont {display: block; z-index: 88;} 
/* moving images css coding */
 :root{ 
  --color1:#1c1c1c;
  --color2:#5a5555;
  }
  .container-img .slide-img
{
    position:absolute;
    width: 100%;
    height: 100%;
} 

.container-img .slide-img img
{
     width:inherit;
     height:inherit;
 
}
.prev,.next
{
     width:40px;
     height:40px;
     position: absolute;
     top:50%;
     background-color: rgba(88,88,88,.2);
     color:rgba(244,244,244,.9);
     z-index:1;
     transition:.45s;
     cursor: pointer;
     text-align: center;
    
}
.prev
{
    left:10px;
}
.next{
    right:10px;
}
label span
{
   position: absolute;
   font-size:30px;
   text-align: center;
}
.prev:hover, .next:hover
{
transition: .3s;
background-color: black;
color: white;
}
.but1 button
{
   position: absolute;
   top:70%;
   left:70%;
   padding:15px 35px;
   border-radius:30px;
   color: white;
   font-size: 17px;
   font-weight: 500;
   font-family: 'Roboto', sans-serif;
   background-color:rgb(58, 190, 179) ;
   border:none;
   cursor: pointer;
   animation: box1 1s   ;       
}
@keyframes box1
{           
    
0%
{
    transform: translateX(-40%);
    visibility:hidden;
}

100%
{
    transform:translate(70%,70%);
    visibility: visible;
}
} 

.but1 button:after{
content: '\203A';
position: inherit;
font-size: 36px;
color: transparent;
top: 2px;
right:-15px;
/* transition: 0.5s; */
}    
.but1 button:hover
{
  background-color: white;
  content: '\203A';
  color: black;
  font-weight:bold;
  padding:15px 56px;
 
}
.but1 button:hover:after {
  opacity: 1;
  right: 40px;
  color: black;
}

.but2 button
{
   position: absolute;
   top:70%;
   left:10%;
   padding:15px 35px;
   border-radius:30px;
   color: white;
   font-size: 17px;
   font-weight: 800;
   font-family: 'Roboto', sans-serif;
   background-color:black ;
   border:none;
   cursor: pointer;
}

.but2 button:after{
  content: '\203A';
  position: inherit;
  font-size: 36px;
  top: 2px;
  right:-15px;
  /* transition: 0.5s; */
  }    
.but2 button:hover
{
  background-color: white;
  color: black;
  font-weight: 600;
  padding:15px 56px;

}
.but2 button:hover:after {
  opacity: 1;
  right: 40px;
}
.content1 h1
{
  position: absolute;
  width: 30%;
  top: 20%;
  left:10%;
  color: white;
  font-size: 70px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
.content1 p
{
  position: absolute;
  width: 30%;
  top: 70%;
  left: 10%;
  font-size: 20px;
  color:white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.content1 button
{
   position: absolute;
   top:80%;
   left: 10%;
   padding:15px 35px;
   border-radius:30px;
   color:black;
   font-size: 17px;
   font-weight:bold;
   font-family: 'Roboto', sans-serif;
   background-color:white ;
   border:none;
   cursor: pointer;
   
}
.content1 button:after{
  content: '\203A';
  position: inherit;
  font-size: 36px;
  color:transparent;
  top: 2px;
  right:-15px;
  /* transition: 0.5s; */
  }    
.content1 button:hover
{
  background-color: white;
  color: black;
  font-weight: 600;
  padding:15px 56px;

}
.content1 button:hover:after {
  opacity: 1;
  right: 40px;
  color: black;
}
.content2 h1
{
  position: absolute;
  width: 60%;
  top: 30%;
  left:10%;
  color: white;
  font-size: 70px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
.content2 p
{
  position: absolute;
  width: 30%;
  top: 50%;
  left: 10%;
  font-size: 25px;
  color:white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.content2 button
{
   position: absolute;
   top: 80%;
   left:10%;
   padding:15px 35px;
   border-radius:30px;
   color:purple;
   font-size: 17px;
   font-weight:bold;
   font-family: 'Roboto', sans-serif;
   background-color:white ;
   border:none;
   cursor: pointer;
}
.content2 button:after{
  content: '\203A';
  position: inherit;
  font-size: 36px;
  color:transparent;
  top: 2px;
  right:-15px;
  /* transition: 0.5s; */
  }    
.content2 button:hover
{
  background-color: white;
  color: black;
  font-weight: 600;
  padding:15px 56px;

}
.content2 button:hover:after {
  opacity: 1;
  right: 40px;
  color: black;
}
.container-img #nav_slide
{
    width: 100%;
    height: 11px;
    position: absolute;
    z-index:80;
    cursor: pointer;
    text-align: center;
}
#nav_slide .dots
{
    bottom: -550px;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border-radius: 75%;
    border: 2px solid white;
    position: relative;
    display: inline-block;
    transition: .4s;
}
#nav_slide .dots:hover
{
    cursor: pointer;
    background-color: rgba(255,255,255,0.9);
    transition:.8s
}
#i1,#i2,#i3,#i4
{
 display: none;
}

.slide-img{z-index: 1; }

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five
{z-index:23; animation: 12s scroll infinite ease-in-out; }
#i1:checked ~ #nav_slide #dot1,
#i2:checked ~ #nav_slide #dot2,
#i3:checked ~ #nav_slide #dot3,
#i4:checked ~ #nav_slide #dot4,
#i5:checked ~ #nav_slide #dot5
 { background-color: rgba(255,255,255,0.9);} 
/* space b/w img and brush container */
.empty
{
  width: 2300px;
  height: 400px;
}
/* brush and timer */
.timer
{
  display: grid;
  grid-template-columns: 650px 650px;
  gap: 10px;
  width: 100%;
  height: 90vh;
}
.head
{
  height:60vh;
  width:600px;
  margin-left: 50px;
 
}
.head p
{
  position: absolute; 
  color: #502f8f;
  font-family:'Playfair Display', serif ;
  font-size: 50px;
  font-weight:500;
  line-height: 50px;
  letter-spacing: 3.8px;
}
.head h6
{
  margin-top: 10px;
  color: #000;
  font-family:'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2px;
  letter-spacing: 3.8px;
}
.head img 
{
  width: 600px;
  height:70vh;

}
.tab
{ 
  
  height:60vh;
  width:640px;
  margin-left:5px;
  
}
.tab table td
{
  margin-top: 10px;
  width: 640px;
  font-size: 50px;
  color: #502f8f;
  font-family:'Inter', sans-serif;
  font-weight:bold;
  text-align: left;
  line-height: 50px;
  

}
.tab table span
{
  font-size: 20px;
  color: #000;
  font-family:'Roboto', sans-serif ;
  font-weight:600;
}
.tab p
{
  font-size: 17px;
  color: #000;
  font-family:'Roboto', sans-serif ;
  font-weight:600;
  letter-spacing: 1px;

}
.para
{
  height:20vh;
  width:700px;
  margin-left: 300px;

}
.para h6
{
  margin-top: 10px;
  color: #000;
  font-family:'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2px;
  letter-spacing: 3.8px;
  text-align: center;
}
.para p
{
  color: #502f8f;
  font-family:'Playfair Display', serif ;
  font-size: 50px;
  font-weight:600;
  line-height: 50px;
  letter-spacing: 3.8px;
  text-align: center;
}
/* bride container start */
.bcontainer
{
  width:100%;
  height:77vh;
  display: grid;
  grid-template-columns: 650px 650px;
}
.bride img
{
 margin-left: 50px;
 height:500px;
 width: 600px;
}
.bride1
{
 margin-left:20px;
 height:500px;
 width: 600px;
 background-color:#ebe2f9;;
}
.bride1 h6
{
  margin-left:60px;
  margin-top: 60px;
  color: #502f8f;
  font-family:'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2px;
  letter-spacing: 3.8px;
  text-align: left;

}

.bride1 p
{
  margin-left:60px;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  font-weight: 200;
  line-height: 50px;
  text-align: left;
}
.bride1 p span
{
  margin-top:130px;
  color: #000;
  font-family:'Inter', sans-serif;;
  font-size: 35px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
}
.bride1 button
{
  margin-top:150px;
  margin-left:60px;
  padding:15px 40px;
  border-radius:30px;
  color: white;
  font-size: 17px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  background-color:  #502f8f;
  border:none;
  cursor: pointer;
}

.bride1 button:hover
{
  background-color:transparent;
  color:#502f8f;
  border:1px solid #502f8f;;
}
/* skin care */
.skincare
{
  background-color:#502f8f;
  width:93%;
  height:67vh;
  margin-left: 50px;
  display: grid;
  grid-template-columns: 650px 650px;
}
.skin
{
  height:428px;
  width: 600px;
}
.jeni img
{
  height:428px;
  width: 500px;
}
.skin h6
{
  margin-left:60px;
  margin-top: 60px;
  color: white;
  font-family:'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2px;
  letter-spacing: 3.8px;
  text-align: left;
}
.skin p span
{
  margin-top:130px;
  color:white;
  font-family:'Inter', sans-serif;;
  font-size: 35px;
  font-weight: 200;
  line-height: 50px;
  text-align: left;
}
.skin p
{
  margin-left:60px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
}
.skin button
{
  margin-top:70px;
  margin-left:60px;
  padding:15px 40px;
  border-radius:30px;
  color:#502f8f;
  font-size: 17px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  background-color:white;
  border:none;
  cursor: pointer;
}
.skin button:hover
{
  background-color:transparent;
  color:white;
  border:1px solid white;;
}

/* hair care */
.hcontainer
{
  width:100%;
  height:77vh;
  display: grid;
  grid-template-columns: 650px 650px;
}
.hair img
{
 margin-left:50px;
 height:500px;
 width: 600px;
}
.hair1
{
 margin-left:20px;
 height:500px;
 width: 600px;
 background-color:#502f8f;
}
.hair1 h6
{
  margin-left:60px;
  margin-top: 60px;
  color:white;
  font-family:'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2px;
  letter-spacing: 3.8px;
  text-align: left;

}

.hair1 p
{
  margin-left:60px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  font-weight: 200;
  line-height: 50px;
  text-align: left;
}
.hair1 p span
{
  
  color:white;
  font-family:'Inter', sans-serif;;
  font-size: 35px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
}
.hair1 button
{
  margin-top:150px;
  margin-left:60px;
  padding:15px 40px;
  border-radius:30px;
  color:#502f8f;
  font-size: 17px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  background-color:white;
  border:none;
  cursor: pointer;
}

.hair1 button:hover
{
  background-color:transparent;
  color:white;
  border:1px solid white;
}

/* FRANCHISE */
.francise
{
  width:100%;
  height:77vh;
  display: grid;
  grid-template-columns: 650px 650px;
  
}
.local
{
 margin-left:50px;
 height:500px;
 width: 600px;
}

.open {
  margin-left:20px;
  height:485px;
  width: 600px;
  
}
.open .s-img
{
  height:485px;
  width: 600px;
  position:absolute;
 
}
.open .s-img img
{
  height: 485px;
  width: 600px;
}

.local h6
{
  margin-top: 20px;
  color:#000;
  font-family:'Inter', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 2px;
  letter-spacing: 3.8px;
  text-align: left;
}
.local h1
{
  font-size:50px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color:#502f8f;
  letter-spacing: 1px;

}
.local p
{
  margin-top:50px;
  font-size:20px;
  font-family:'Inter', sans-serif ;
  font-weight:400;
  color:#6d6969;
  letter-spacing: 0.5px;
}
.local button
{
  margin-top:90px;
  padding:15px 40px;
  border-radius:30px;
  color:white;
  font-size: 17px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  background-color:#502f8f;
  border:none;
  cursor: pointer;
  position: absolute;
}
.local button:hover
{
  background-color: transparent;
  border: 1px solid #502f8f;
  color:#502f8f;
}
.pre,.nxt
{
  width:30px;
  height:30px;
  position: absolute;
  background-color: rgba(88,88,88,.2);
  color:rgba(244,244,244,.9);
  z-index:1;
  transition:.45s;
  cursor: pointer;
  text-align: center;
}
.pre
{
  margin-left: -580px;
  margin-top: 230px;
}
.nxt{
  margin-left: -50px;
  margin-top: 230px;
}
 .s-img label span
{
   position: absolute;
   font-size:30px;
   text-align: center;
}
.pre:hover, .nxt:hover
{
transition: .3s;
background-color: black;
color: white;
}
#j1,#j2
{
  display: none;
}
#j1:checked ~ #first,
#j2:checked ~ #second

{z-index:23; animation: 12s scroll infinite ease-in-out; }


/* Training */
.tcontainer
{
  width:100%;
  height:150px;
}
.tcontainer #h1
{
 left:0;
  width:100%;
  height:200px;
  margin-top:-140px;
  color: white;
  font-family:'Inter', sans-serif ;
  font-size: 340px;
  text-shadow: -1px 1px 0 #dddbdb,
              1px 1px 0 #b3aeae,
              1px -1px 0 #bdb7b7,
            -1px -1px 0 #b8b4b4;
}
.training
{
 
  width:100%;
  height:72vh;
  display: grid;
  grid-template-columns: 650px 650px;
  
}
.train1
{
  margin-left:50px;
  height:500px;
  width: 600px;
}
.train
{
  margin-left:20px;
  height:500px;
  width: 600px;
}
.train h6
{
  margin-top: 20px;
  color:#000;
  font-family:'Inter', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 2px;
  letter-spacing: 3.8px;
  text-align: left;
}
.train h1
{
  font-size:50px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color:#502f8f;
  letter-spacing: 1px;
}
.train p
{
  margin-top:30px;
  font-size:20px;
  font-family:'Inter', sans-serif ;
  font-weight:400;
  color:#6d6969;
  letter-spacing: 0.5px;
  line-height: 30px;
}
.train button
{
  margin-top:40px;
  padding:15px 40px;
  border-radius:30px;
  color:white;
  font-size: 17px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  background-color:#502f8f;
  border:none;
  cursor: pointer;
}
.train button:hover
{
  background-color: transparent;
  border: 1px solid #502f8f;
  color:#502f8f;
}
/* popular stylish */
.popular
{
  width:100%;
  height:200px;
 
}
.popular h6
{
  margin-top: 20px;
  color:#000;
  font-family:'Inter', sans-serif;
  font-size: 16px;
  font-weight:400;
  text-transform: uppercase;
  line-height: 2px;
  letter-spacing: 3.8px;
  text-align: center;
}
.popular h1
{
  margin-top: 20px;
  font-size:50px;
  font-family: 'Playfair Display', serif;
  font-weight:400;
  color:#502f8f;
  letter-spacing: 1px;
  text-align: center;
}
.pop 
{
  width:100%;
  height:350px;
  /* border:1px solid red; */
  display:grid;
  grid-template-columns: repeat(4,1fr);
 
}
.pop img
{
  /* margin-left:60px; */
  width:270px;
  height:350px;
  /* border:1px solid red; */
}
.popimg 
{
  margin-left:60px;
 
}
 .popimg1
{
  margin-left:30px
}
 .popimg2
{
  margin-left:10px
}
.popimg3
{
  margin-left: -10px;
} 

.popimg:hover{
  opacity: 0.3;
}
.popimg1:hover{
  opacity: 0.3;
}
.popimg2:hover{
  opacity: 0.3;
}
.popimg3:hover{
  opacity: 0.3;
}

/* CUSTOMER TESTIMONIALS  */
.customer
{
  width:100%;
  height:200px;
}
.customer h6
{
  margin-left: 60px;
  margin-top: 20px;
  color:#000;
  font-family:'Inter', sans-serif;
  font-size: 16px;
  font-weight:400;
  text-transform: uppercase;
  line-height: 2px;
  letter-spacing: 3.8px;
  text-align: left;
}
.customer p
{
  margin-left: 60px;
  margin-top: 20px;
  font-size:50px;
  font-family: 'Playfair Display', serif;
  font-weight:400;
  color:#502f8f;
  letter-spacing: 1px;
  text-align: left;
}
/* feed back of customer */
#k1,#k2
{
  display: none;
}
.custom .custoimg
{
  position: absolute;
}
.custom
{
  width:100%;
  height:50vh;
  
}
.custoimg img
{
  width:1040px;
  height:45vh;
}

.custoimg
{
  width:1050px;
  height:45vh;
  margin-left:90px;
  z-index:17;
}
.custom #nav_s
{
    width: 100%;
    height: 11px;
    position: absolute;
    z-index:80;
    cursor: pointer;
    text-align: center;
}
#nav_s .dts
{
    bottom: -300px;
    width: 10px;
    height: 10px;
    margin: 0 1px;
    border-radius: 75%;
    border: 2px solid black;
    position: relative;
    display: inline-block;
    transition: .4s;
}
#nav_s.dts:hover
{
    cursor: pointer;
    background-color: rgba(12, 11, 11, 0.9);
    transition:.8s
}
#k1:checked ~ #num1,
#k2:checked ~ #num2
{z-index:23; animation: 12s scroll infinite }
#k1:checked ~ #nav_s #dt1,
#k2:checked ~ #nav_s #dt2
{ background-color: rgba(20, 19, 19, 0.9);} 

/* video */

.videocon
{
 
 margin-left:90px;
 height: 77vh;
 width:1040px;
 position: absolute;
 border: 1px solid black
}
video
{
 height: 77vh;
 width:1040px; 
 object-fit: cover;
 border: 1px solid red;
}

/* Footer */
.footer{
  width:100%;
  height:400px;
  background-color: #502f8f;
  
 }
 .div-cols
 {
  margin-left: 60px;
  display: grid;
  grid-template-columns:300px 300px 300px 300px;
  gap:10px;
 }
 .footer h6
 {
  margin-top:40px;
  font-size: 17px;
  font-family:'Roboto', sans-serif;
  font-weight:bold;
  color: white;
 }
 .footer a
 {
     margin-top:40px;
     color: white;
     text-decoration: none;
     font-size: 15px;
     font-family:'Roboto', sans-serif;
     font-weight: 300;
 }
 .footer p
 {
    margin-top:40px;
     color: white;
     text-decoration: none;
     font-size: 15px;
     font-family:'Roboto', sans-serif;
     font-weight: 300;
 }
 .footer li{
     list-style-type: none;
     line-height: 1.8;
     text-overflow: hidden;
 }
  
 .bb
 {
  margin-top:20px;
  border-top: 1px solid white;
 }
 .bb h6
 {
  margin-left: 60px;
  font-size: 15px;
  margin-top: 10px;
  font-weight: none;
 }
 .bb p
 {
  margin-top:-20px;
  margin-left: 1090px;
  font-size: 15px;
 }
  
